
@{
    ViewBag.Title = "New";
}

<h1>NEW AUTHOR</h1>
<form method="post" action="/">
    <div>
        <label for="authorUser">Username:</label>
        <input type="text" id="authorUser" name="authorUser"/>
    </div>
    <div>
        <label for="authorEmail">Email:</label>
        <input type="text" id="userEmail" name="userEmail"/>
    </div>
    <div>
        <label for="authorFname">First Name:</label>
        <input type="text" id="authorFname" name="authorFname" />
    </div>
    <div>
        <label for="authorLname">Last Name:</label>
        <input type="text" id="authorLname" name="authorLname" />
    </div>
    <div>
        <button type="submit">SUBMIT</button>
    </div>
</form>

