@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Write.Interact.Play (WIP)</h1>
    <p>Here, you can write with others who understand what you're going through.</p>
</div>